/venv/
/.idea/vcs.xml
/.venv/
/requirements_for_me.txt
/.idea/Automation_test_store_in_python.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/model/user_data.json
__pycache__/
*.pyc
tests/reports/*
!reports/.gitkeep